<section class="clients" >
    <div class=" container">
    <ul class="clients__list  list">
        <li class="clients__item">
            <img  class="clients__item" src="" alt="">
        </li>
        <li class="clients__item">
            <img  class="clients__item"src="" alt="">
        </li>
        <li class="clients__item">
            <img class="clients__item" src="" alt="">
        </li>
        <li class="clients__item">
            <img class="clients__item" src="" alt="">
        </li>
        <li class="clients__item">
            <img class="clients__item" src="" alt="">
        </li>
    </ul> 
</div>
</section>