<section class="clients">
        <ul class="clients__list list">
            <li class="clients__item">
<img    srcset="
                                    ./images/clients_img1.jpg 370w
                                       ./images/clients_img1@2x.jpg 740w "
             sizes=" 100%"
                           src="./images/clients_img1.jpg"
                alt="Andrew Porter" class="clients_img">
            </li>
            <li class="clients__item">
            <img srcset="
                                                ./images/clients_img2.jpg 370w
                                                   ./images/clients_img2@2x.jpg 740w " sizes=" 100%"
                src="./images/clients_img2.jpg" alt="LEADERSHIP" class="clients_img">
            </li>
            <li class="clients__item">
            <img srcset="
                                                ./images/clients_img3.jpg 370w
                                                   ./images/clients_img3@2x.jpg 740w " sizes=" 100%"
                src="./images/clients_img3.jpg" alt="WalBridge" class="clients_img">
            </li> 
            <li class="clients__item">
            <img srcset="
                                                ./images/clients_img4.jpg 370w
                                                   ./images/clients_img4@2x.jpg 740w " sizes=" 100%"
                src="./images/clients_img4.jpg" alt="IDEAL" class="clients_img">
            </li>
            <li class="clients__item">
                <img srcset="
                                                            ./images/clients_img5.jpg 370w
                                                               ./images/clients_img5@2x.jpg 740w " sizes=" 100%"
                    src="./images/clients_img5.jpg" alt="PLA" class="clients_img">
            </li>
        </ul>
   
</section>