<section class="deation">
    <div class="container">
        <h2 class="deation__title">Deation & Evaluation - Best Way<br>
            to Kick off Your Product Idea</h2>
        <ul class="deation__list list">
            <li class="deation__item">
                <h3 class="deation-list__title">Product Design Sprint</h3>
                <p class="deation-list__text">A five-day workshop that will help you answer crucial business questions</p>
                <a class="deation-list__link link" href="#">
                    <svg width="16" height="16" class="link-load-more">
                        <use href="./images/symbol-defs.svg#icon-caret-right"></use>
                    </svg>
                    Read More</a>
            </li>
            <li class="deation__item">
                <h3 class="deation-list__title">Scoping Session</h3>
                <p class="deation-list__text">A workshop aimed at shaping your business idea, answering questions regarding project planning</p>
                <a class="deation-list__link link" href="#">
                    <svg width="16" height="16" class="link-load-more">
                        <use href="./images/symbol-defs.svg#icon-caret-right"></use>
                    </svg>
                    Read More</a>
            </li>
            <li class="deation__item">
                <h3 class="deation-list__title">UX <br>
                    Review</h3>
                <p class="deation-list__text">An evaluation which will help you radically improve your product.</p>
                <a class="deation-list__link link" href="#">
                    <svg width="16" height="16" class="link-load-more">
                        <use href="./images/symbol-defs.svg#icon-caret-right"></use>
                    </svg>
                    Read More</a>
            </li>
            <li class="deation__item">
                <h3 class="deation-list__title">Code <br>
                    Review</h3>
                <p class="deation-list__text">Do you know what one of the key secrets of success is what makes people successful in business</p>
                <a class="deation-list__link link" href="#">
                    <svg width="16" height="16" class="link-load-more">
                        <use href="./images/symbol-defs.svg#icon-caret-right"></use>
                    </svg>
                    Read More</a>
            </li>
        </ul>
    </div>
</section>