<!-- <footer class="footer">
    <div class="container">
        <address class="footer-address">
            <ul class="footer-address__list list">
                <li class="footer-address__cell">
                    <p class="footer-address__text">phone</p>
                    <a class="footer-address__link link" href="tel:+32 50 31 28 32">+32 50 31 28 32</a>
                </li>
                <li class="footer-address__cell">
                    <p class="footer-address__text">address</p>
                    <a class="footer-address__link link" target="_blank" href="https://youtu.be/aRCn78oek38?si=UKaBQssUxtz3aPyQ">491 Merlin Crest Suite 963</a>
                </li>
            </ul>
        </address>
        <div class="footer-information">
                <ul class="footer-information__box">
                    <li class="footer-information__main-cell">
                        <h3 class="footer-information__title">
                            services
                        </h3>
                        <ul class="footer-information__sublist list">
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/ZrYlByKpA5M?si=y0kNpEZzmChEnaO" target="_blank" class="footer-information__link link">Strategy Design</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/uJUu-1ZidJo?si=vz3PrPLDQHXXj_Rb" target="_blank" class="footer-information__link link">Product Design</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/qukDsGr7iFc?si=eA_JjEOxyu5yRfLJ" target="_blank" class="footer-information__link link">Content Strategy</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/H8acxTSC_KY?si=JEj3o-TsjHaXkmYb" target="_blank" class="footer-information__link link">Brand Strategy</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/EdcoRPHjFsU?si=jMVzw8hlYx9o30Hw" target="_blank" class="footer-information__link link">Development</a>
                            </li>    
                        </ul>
                    </li>
                    <li class="footer-information__main-cell">
                        <h3 class="footer-information__title">
                            help and advice
                        </h3>
                        <ul class="footer-information__sublist list">
                            <li class="footer-information__subcell"><a href="https://youtu.be/fZko5wBBEcQ?si=7DLNb-9SR6CnK1-K" target="_blank" class="footer-information__link link">How it works</a></li> 
                            <li class="footer-information__subcell"><a href="https://www.youtube.com/live/AJfdLJ_0NkQ?si=ARQygjUXWZu99_rR" target="_blank" class="footer-information__link link">Contact Support</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/lB9WVv_y89M?si=VNxaoiYACwF5jBVE" target="_blank" class="footer-information__link link">Privacy Policy</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/ZQ4gDsCy6SY?si=QQqbAI7Fd0DMENyv" target="_blank" class="footer-information__link link">FAQ</a></li>
                        </ul>
                    </li>
                    <li class="footer-information__main-cell">
                        <h3 class="footer-information__title">
                            company
                        </h3>
                        <ul class="footer-information__sublist list">
                            <li class="footer-information__subcell"><a href="https://youtu.be/aRCn78oek38?si=5NDR38Z7b2DZ55h5" target="_blank" class="footer-information__link link">About</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/CBoJs10VgdU?si=b4z9NwAmPGRHPP7u" target="_blank" class="footer-information__link link">Blog</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/YIiGxyZfTLk?si=aJdbKim9BPbPi-OG" target="_blank" class="footer-information__link link">Contact</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/OC1ggQt5Wms?si=Ub5Uy0RT23MjR1XU" target="_blank" class="footer-information__link link">Jobs</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="footer-information__soc-box">
                    <h3 class="footer-information__title">Get in Touch</h3>
                    <p class="footer-information__text">Feel free to get in touch with us vai email</p>
                    <a href="mailto:info.webovio@gmail.com" class="footer-information__soc-link">info.webovio@gmail.com</a>
                    <ul class="footer-information__soc-list list">
                        <li class="footer-information__soc-cell">
                            <a class="footer-soc-list__soc-link link" href="https://www.facebook.com/">
                              <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-facebook"></use></svg>
                           </a>
                          </li>
                          <li class="footer-information__soc-cell">
                            <a class="footer-soc-list__soc-link link" href="https://www.x.com/">
                              <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-twitter"></use></svg>
                           </a>
                          </li>
                          <li class="footer-information__soc-cell">
                            <a class="footer-soc-list__soc-link link" href="https://www.google.com/">
                              <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-google-plus"></use></svg>
                           </a>
                          </li>
                          <li class="footer-information__soc-cell">
                            <a class="footer-soc-list__soc-link link" href="https://www.linkedin.com/">
                              <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-linkedin"></use></svg>
                           </a>
                          </li>
                    </ul>
                </div>
        </div>
        <svg class="footer__logo"><use href="./images/symbol-defs.svg#icon-fullogo-footer"></use></svg>
        <p class="footer__privacy-policy">© 2020@webovio. All Rights Reserved.</p>
    </div>
</footer> -->
<footer class="footer">
    <div class="container">
        <address class="footer-address">
            <ul class="footer-address__list list">
                <li class="footer-address__cell">
                    <p class="footer-address__text">Phone</p>
                    <a class="footer-address__link link" href="tel:+32 50 31 28 32">+32 50 31 28 32</a>
                </li>
                <li class="footer-address__cell">
                    <p class="footer-address__text">Address</p>
                    <a class="footer-address__link link" target="_blank" href="https://youtu.be/aRCn78oek38?si=UKaBQssUxtz3aPyQ">491 Merlin Crest Suite 963</a>
                </li>
            </ul>
        </address>
        <div class="footer-information">
                <ul class="footer-information__box">
                    <li class="footer-information__main-cell">
                        <h3 class="footer-information__title">
                            services
                        </h3>
                        <ul class="footer-information__sublist list">
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/ZrYlByKpA5M?si=y0kNpEZzmChEnaO" target="_blank" class="footer-information__link link">Strategy Design</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/uJUu-1ZidJo?si=vz3PrPLDQHXXj_Rb" target="_blank" class="footer-information__link link">Product Design</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/qukDsGr7iFc?si=eA_JjEOxyu5yRfLJ" target="_blank" class="footer-information__link link">Content Strategy</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/H8acxTSC_KY?si=JEj3o-TsjHaXkmYb" target="_blank" class="footer-information__link link">Brand Strategy</a>
                            </li>
                            <li class="footer-information__subcell">
                                <a href="https://youtu.be/EdcoRPHjFsU?si=jMVzw8hlYx9o30Hw" target="_blank" class="footer-information__link link">Development</a>
                            </li>    
                        </ul>
                    </li>
                    <li class="footer-information__main-cell">
                        <h3 class="footer-information__title">
                            help and advice
                        </h3>
                        <ul class="footer-information__sublist list">
                            <li class="footer-information__subcell"><a href="https://youtu.be/fZko5wBBEcQ?si=7DLNb-9SR6CnK1-K" target="_blank" class="footer-information__link link">How it works</a></li> 
                            <li class="footer-information__subcell"><a href="https://www.youtube.com/live/AJfdLJ_0NkQ?si=ARQygjUXWZu99_rR" target="_blank" class="footer-information__link link">Contact Support</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/lB9WVv_y89M?si=VNxaoiYACwF5jBVE" target="_blank" class="footer-information__link link">Privacy Policy</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/ZQ4gDsCy6SY?si=QQqbAI7Fd0DMENyv" target="_blank" class="footer-information__link link">FAQ</a></li>
                        </ul>
                    </li>
                    <li class="footer-information__main-cell">
                        <h3 class="footer-information__title">
                            company
                        </h3>
                        <ul class="footer-information__sublist list">
                            <li class="footer-information__subcell"><a href="https://youtu.be/aRCn78oek38?si=5NDR38Z7b2DZ55h5" target="_blank" class="footer-information__link link">About</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/CBoJs10VgdU?si=b4z9NwAmPGRHPP7u" target="_blank" class="footer-information__link link">Blog</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/YIiGxyZfTLk?si=aJdbKim9BPbPi-OG" target="_blank" class="footer-information__link link">Contact</a></li>
                            <li class="footer-information__subcell"><a href="https://youtu.be/OC1ggQt5Wms?si=Ub5Uy0RT23MjR1XU" target="_blank" class="footer-information__link link">Jobs</a></li>
                        </ul>
                    </li>
                    <li class="footer-information__main-cell">
                        <div class="footer-information__soc-box">
                            <h3 class="footer-information__title">Get in Touch</h3>
                            <p class="footer-information__text">Feel free to get in touch with us vai email</p>
                            <a href="mailto:info.webovio@gmail.com" class="footer-information__soc-link">info.webovio@gmail.com</a>
                            <ul class="footer-information__soc-list list">
                                <li class="footer-information__soc-cell">
                                    <a class="footer-soc-list__soc-link link" href="https://www.facebook.com/">
                                      <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-facebook"></use></svg>
                                   </a>
                                  </li>
                                  <li class="footer-information__soc-cell">
                                    <a class="footer-soc-list__soc-link link" href="https://www.x.com/">
                                      <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-twitter"></use></svg>
                                   </a>
                                  </li>
                                  <li class="footer-information__soc-cell">
                                    <a class="footer-soc-list__soc-link link" href="https://www.google.com/">
                                      <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-google-plus"></use></svg>
                                   </a>
                                  </li>
                                  <li class="footer-information__soc-cell">
                                    <a class="footer-soc-list__soc-link link" href="https://www.linkedin.com/">
                                      <svg width="20" height="20" class="footer-soc-list__icon"><use href="./images/symbol-defs.svg#icon-linkedin"></use></svg>
                                   </a>
                                  </li>
                            </ul>
                        </div>
                    </li>
                </ul>
        </div>
        <div class="copyright">
            <svg width="140px" height="25px" class="footer__logo"><use href="./images/symbol-defs.svg#icon-fullogo-footer"></use></svg>
            <p class="footer__privacy-policy">© 2020@webovio. All Rights Reserved.</p>
        </div>
    </div>
</footer>