<section class="hero">
<div class="container">
    <p class="hero__subtitle">A place where </p>
    <h1 class="hero__title">A creative agency for redemptive brands</h1>
    <p class="hero__text">Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.</p>
    <a href="" class="hero__link">
        <svg width="16" height="16" class="link-load-more hero__link-load-more">
            <use href="./images/symbol-defs.svg#icon-caret-right"></use>
        </svg>
        Get in touch
    </a>
</div>
</section>