<section class="project">
  <div class="container">
    <div class="project__div-title">
   <h2 class="project__title">We Have Some Awesomr Project.</h2>
    <p class="project__subtitle">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s,
    </p>
  </div>
    <ul class="list project__list">
      <li class="project__item">
        <picture>
          <source
            srcset="
              ./images/projects_img1.jpg    1x,
              ./images/projects_img1@2x.jpg 2x
            "
            media="(min-width:1200px)"
            sizes="735px"
          />
          <img class="project__img" src="./images/projects_img1.jpg" alt="project" />
        </picture>
        <h2 class="project__title">The wall new Balenciaga.com</h2>
        <p class="project__subtitle">
          This article is floated online with an aim to help you find the best
          dvd printing solution. Dvd printing is an important feature used by
          large and small DVD production houses to print information on DVDs.
        </p>
        <a class="project__link">See Case Study</a>
        <div class="project-comment">
          <p class="project-comment__text">
            “In my history of working with trade show vendors, I can honestly
            say that there is not one company that I've ever worked with that
            has better service than Exhibit Systems.”
          </p>
          <picture>
            <source
              srcset="
                ./images/projects-card_img1.jpg    1x,
                ./images/projects-card_img1@2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="46px"
            />
            <img class="project-comment__img" src="./images/projects-card_img1.jpg" alt="person" />
          </picture>
          <h4 class="project-comment__name">Angel Armstrong</h4>
          <p class="project-comment__page">Founder & CEO, Google</p>
        </div>
      </li>
      <li class="project__item">
        <picture>
          <source
            srcset="
              ./images/projects_img2.jpg    1x,
              ./images/projects_img2@2x.jpg 2x
            "
            media="(min-width:1200px)"
            sizes="735px"
          />
          <img class="project__img" src="./images/projects_img2.jpg" alt="project" />
        </picture>
        <h2 class="project__title">Is this the future of 3D model?</h2>
        <p class="project__subtitle">
          While it was just a TV show, that little speech at the beginning of
          the original Star Trek show really did do a good job of capturing our
          feelings about space. It is those feelings that drive our love of
          astronomy and our desire to learn more and more about it.
        </p>

        <a class="project__link"> See Case Study</a>
        <div class="project-comment">
          <p class="project-comment__text">
            “I know they are going to be honest with me. I am not going to get a
            subpar product; I know it is going to be good. That is the number
            one advantage of working with Exhibit Systems.”
          </p>
          <picture>
            <source
              srcset="
                ./images/projects-card_img2.jpg    1x,
                ./images/projects-card_img2@2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="46px"
            />
            <img class="project-comment__img" src="./images/projects-card_img2.jpg" alt="person" />
          </picture>
          <h3 class="project-comment__name">Lina Hart</h3>
          <p class="project-coment__page">Founder & CEO, Jico</p>
        </div>
      </li>
      <li class="project__item">
        <picture>
          <source
            srcset="
              ./images/projects_img3.jpg    1x,
              ./images/projects_img3@2x.jpg 2x
            "
            media="(min-width:1200px)"
            sizes="735px"
          />
          <img class="" src="./images/projects_img3.jpg" alt="project" />
        </picture>
        <h2 class="project__title">Is this the future of Online Booking</h2>
        <p class="project__subtitle">
          You should be able to find several indispensable facts about
          motivation in the following paragraphs. If there’s at least one fact
          you didn’t know before, imagine the difference it might make.
        </p>
        <a class="project__link"> See Case Study</a>
        <div class="project-comment">
          <p class="project-comment__text">
            “Exhibit Systems is not a provider. They are not a supplier. They
            are a partner with expertise in making trade shows effective.”
          </p>
          <picture>
            <source
              srcset="
                ./images/projects-card_img3.jpg    1x,
                ./images/projects-card_img3@2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="46px"
            />
            <img class="project-comment__img" src="./images/projects-card_img3.jpg" alt="person" />
          </picture>
          <h3 class="project-coment__name">Eunice Oliver</h3>
          <p class="project-coment-page">Founder & CEO, Zeem</p>
        </div>
      </li>
    </ul>
  </div>
</section>
