<section class="services">
    <div class="container">
       
        <div class="services__text-div">
        <p class="services__text">What we do for you</p>
        <h2 class="services__title">Strategy. Design Content. Technology
        Development</h2>
        <p class="services__text-description"> There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a
            framework that fosters candid collaboration. </p>
            <a href="" class="services__link link">
                <svg widht="16" height="16" class="services__icon">
                    <use href="./images/symbol-defs.svg#icon-caret-right"></use>
                </svg> More know About us
            </a>
    </div>
    <div class="services-div">
        <p class="services-div__text">With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them
        Succeed</p>
        <div class="services-profile-div">
        <div class="services-img-div">
       <img  srcset="
        ./images/services_img.jpg 370w
        ./images/services_img@2x.jpg 740w "
        sizes=" 100%"
        src="./images/services_img.jpg"
        alt="Andrew Porter" class="services-img-div_img">

    </div>
        <div class="services-text-div">
            <h4 class="services-text-div__subtitle">Genevieve Rodriquez</h4>
            <p class="services-text-div__text">Founder & CEO, Webovio</p>
        </div> 
     </div>
    </div>
    </div>
</section>