.deation {
  padding-top: 150px;
  padding-bottom: 322px;
  border-top: 1px solid #f2f2f2;
}
.deation__title {
  font-size: 36px;
  color: $add-green;
  font-weight: 700;
}
.deation__list {
  margin-top: 60px;
  @include flex(30px);
}
.deation__item {
  padding: 27px 30px 36px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  height: 309px;
}
.deation-list__title {
  font-size: 24px;
  color: $add-green;
  font-weight: 500;
  line-height: 43px;
  text-transform: uppercase;
}
.deation-list__text {
  font-size: 14px;
  color: $main-color;
  font-weight: 500;
  line-height: 26px;
  height: 104px;
}
.deation__link-container {
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.deation__link {
  color: $accent-color;
}
.deation__icon {
  stroke: $accent-color;
  fill: $accent-color;
}
// Для контейнера:
//     position: relative;
//     right: 9.5px;