.deation {
    margin-top: 150px;
    border-top: 1px solid #F2F2F2;
}
.deation__title {
    font-size: 36px;
    color: $add-green;
    font-weight: 700;
}
.deation-list__title {
    font-size: 24px;
    color: $add-green;
}
.deation-list__text {
    font-size: 14px;
}
.deation-list__link {
    color: $accent-color;
    text-decoration: underline;
}