.project {
    padding-top: 150px;
    padding-bottom: 150px;
}

.project .container {
   @include flex(133px);
    align-items: center;
    margin-bottom: 104px;
}

.project__title {
    font-weight: 700;
    @extend %text-title;
}

.project__subtitle {
    font-weight: 700;
    @extend %text-title;
    line-height: 133%;
    padding-top: 80px;
padding-bottom: 24px;
}

.project__list {
    @include flex(165px);
    flex-direction: column;
}

.project__item {
    @include flex(96px);
    align-items: center;
    position: relative;
}
.project__subtitle-text{
    line-height: 162%;
        color: rgba(33, 56, 66, 0.6);
        padding-bottom: 19px;
}
.project__text {
    line-height: 162%;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 90px;

}

.project__link {
    text-decoration: underline;
    color: $add-gray;
&:hover,
    &:focus {
        color: $accent-color;
        cursor: pointer;
    }
}

.link-load-more {
    fill: $add-gray;
     .project__link:hover &,
.project__linke:focus & {
        cursor: pointer;
       fill: $accent-color;
    }
}

.project__img {
    width: 735px;
}

.project__div-info {
    display: flex; 
}

.project__div-text {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
 margin-right: 56px;
}

.project-comment {
    background-color: $add-white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 33px;
    padding-left: 30px;
    position: absolute;
    bottom: -65px;
    left: 322px;
    z-index: 1;
    width: 453px;
border-radius: 8px;
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
}
.project-comment__container{
     @include flex(14px);
     margin-top: 24px;
}
.project-comment__text {
    line-height: 162%;
    color: $add-green;
}

.project-comment__img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 20px 25px 43px 0 rgba(0, 0, 0, 0.18);
}
.project-comment__name {
    font-weight: 700;
    font-size: 16px;
    color: $add-green;
   margin-bottom:4px;
}

.project-comment__page {
    font-weight: 400;
    font-size: 14px;
    color: #152934;
}
